<md-content class="parent md-padding">
  <div layout="row" layout-xs="column" layout-wrap>
    <div ng-repeat="people in aboutPeople|orderBy:'priority'" flex="100" flex-lg="33" flex-xl="33" flex-md="50" flex-sm="50" ng-cloak>

      <md-card class="about-people md-whiteframe-3dp">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{people.name}}</span>
            <span class="md-subhead"> {{people.title}} <br> {{people.contact}} </span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md">
              <img class="md-media-md" ng-src={{people.img}}>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <span ng-bind-html="people.body">
          </span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" target="_self" ng-href="mailto:{{people.contact}}" aria-label="share email">
            <md-icon md-svg-src="email"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

    </div>
  </div>
</md-content>