<md-content class="parent md-padding">
  <div layout-gt-xs="row" layout-xs="column" ng-controller="aboutCtrl" layout-wrap>
    <div ng-repeat="people in aboutPeople|orderBy:'priority'" flex-sm="100" flex-gt-sm="50">

      <md-card class="about-people md-whiteframe-3dp">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{people.name}}</span>
            <span class="md-subhead"> {{people.title}} <br> {{people.contact}} </span>
          </md-card-title-text>
          <md-card-title-media>
            <img class="md-media-lg" ng-src={{people.img}}>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <p ng-bind-html="people.body">
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" href="mailto:{{people.contact}}">
            <md-icon md-svg-src="email"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

    </div>
  </div>
</md-content>