<div layout-padding ng-controller="engageGridList" id="popupContainer">
  <md-grid-list 
    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" 
    md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile 
      ng-repeat="tile in tiles" ng-class="tile.color" md-colspan-gt-sm="{{tile.colspan}}" 
      md-rowspan-gt-sm="{{tile.rowspan}}" ng-click="showWeed($event)">
      <md-grid-tile-header>
        <h3>{{tile.header}}</h3>
      </md-grid-tile-header>
      <img ng-src="{{tile.img}}" ng-style="{'width' : tile.width, 'height' : tile.height}" class="tilePadding">
    </md-grid-tile>
  </md-grid-list>
</div>