<div ng-controller="fabCtrl">
  <md-fab-speed-dial md-direction="left" md-fling class="md-fab-top-right md-scale" ng-cloak style="position: fixed;">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="share-variant"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Twitter" class="md-fab md-raised md-mini" href="https://twitter.com/intent/tweet?text=Check%20out%20The%20WeDig%20Fircrest%20Community%20Garden%20at%20http://WeDigFircrest.org" target="_blank" aria-label="share twitter">
        <md-icon md-svg-src="twitter" aria-label="Twitter"></md-icon>
      </md-button>

      <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="share()" aria-label="share facebook">
        <md-icon md-svg-src="facebook" aria-label="Facebook"></md-icon>
      </md-button>
      <md-button href="mailto:?subject=Checkout%20Fircrest%20Community%20Garden&amp;body=Here%20at%20http://FircrestCommunityGarden.org"
        ng-click="vm.shareByEmail()"  class="md-fab md-raised md-mini" aria-label="share email">
        <md-icon md-svg-src="email"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>