<div ng-controller="tabsCtrl">
    <div>
        <div>
            <md-sidenav md-component-id="left" class="md-sidenav-left" layout-wrap>
                <md-list>
                    <md-list-item ng-click="homeClick()">
                        <md-icon md-svg-src="home" ng-click="homeClick()"></md-icon>
                        <p>Home</p>
                    </md-list-item>

                    <md-list-item ng-click="blogClick()">
                        <md-icon md-svg-src="message-text"></md-icon>
                        <p>Blog</p>
                    </md-list-item>

                    <md-list-item ng-click="meetingsClick()">
                        <md-icon md-svg-src="timetable"></md-icon>
                        <p>Meetings</p>
                    </md-list-item>

                    <md-list-item ng-click="engageClick()">
                        <md-icon md-svg-src="library"></md-icon>
                        <p>Engage</p>
                    </md-list-item>

                    <md-list-item ng-click="calendarClick()">
                        <md-icon md-svg-src="calendar"></md-icon>
                        <p>Calendar</p>
                    </md-list-item>
                    <md-divider></md-divider>

                    <md-list-item ng-click="aboutClick()">
                        <md-icon md-svg-src="help-circle"></md-icon>
                        <p>About</p>
                    </md-list-item>                                                                                                   
                </md-list>
            </md-sidenav>
        </div>      
        <div ng-view></div>
    </div>

    <div ng-include="'partials/fabShare.html'"></div>
</div>