<div ng-controller="tabsCtrl">
    <md-tabs class="md-primary md-dynamic-height" ng-cloak>
        <md-tab md-on-select="homeClick()">
            <md-tab-label>home</md-tab-label>
            <md-tab-body>
                <div ng-include="'partials/home.html'"></div>
            </md-tab-body>
        </md-tab>

        <md-tab md-on-select="blogClick()">
            <md-tab-label>blog</md-tab-label>
            <md-tab-body>
                <div ng-include="'partials/blog.html'"></div>
            </md-tab-body>
        </md-tab>

        <md-tab md-on-select="meetingsClick()">
            <md-tab-label>Meetings</md-tab-label>
            <md-tab-body>
                <div ng-include="'partials/meetings.html'"></div>
            </md-tab-body>
        </md-tab>

        <md-tab md-on-select="enageClick()">
            <md-tab-label>engage</md-tab-label>
            <md-tab-body>
                <div ng-include="'partials/engage.html'"></div>
            </md-tab-body>
        </md-tab>

        <md-tab md-on-select="calendarClick()">
            <md-tab-label>calendar</md-tab-label>
            <md-tab-body>
                <div ng-include="'partials/calendar.html'"></div>
            </md-tab-body>
        </md-tab>

        <md-tab md-on-select="aboutClick()">
            <md-tab-label>about</md-tab-label>
            <md-tab-body>
                <div ng-include="'partials/about.html'"></div>
            </md-tab-body>
        </md-tab>

    </md-tabs>

    <div ng-include="'partials/fabShare.html'"></div>
</div>